.contenedor-aside {
    background-color: #242422;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.75);
    height: auto;
}

.contenedor-aside ul li {
    list-style: none;
}

.contenedor-aside ul {
    padding: 0.5rem;
}